@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
::-webkit-input-placeholder{font-style:italic;}
:-moz-placeholder{font-style:italic;}
::-moz-placeholder{font-style:italic;}
::-ms-input-placeholder{font-style:italic;}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  color: #000000;
  font-family: Inter;
}
html, body {
  font-size: 100%;
  padding-bottom: 6vh;
  background-color: #ffffff;
}
a {
  width: 0%;
}
button {
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  background: none;
}
img {
  pointer-events: none;
}



/* NAVIGATION BAR */
.navigation {
  z-index: 100;
  width: 100%;
  overflow: hidden;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 0;
  background: #749c75;
  border-top: 0.25rem solid #9cd08f;
  height: 12vh;
}
.navigation button {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border: none;
  background: none;
  font-size: 3rem;
  width: 33%;
}
.navigation img {
  width: 3rem;
}



/* PAGE ONE STYLES */
.pageOne {
}
.pageOne .search-container {
  overflow: hidden;
  background-color: #565f70;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 90;
}
.pageOne .search-container input[type=text] {
  padding: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: none;
  font-size: 1.5rem;
  width: 70%;
}
.pageOne .search-container button {
  padding: 0.75rem 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  background: #dee1e6;
  border: none;
  font-size: 1.5rem;
}



/* PAGE TWO STYLES */
.pageTwo {
}



/* PAGE THREE STYLES */
@keyframes fadeInOne {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  62.5% { opacity: 1; }
}
@keyframes fadeInTwo {
  0%    { opacity: 0; }
  62.5% { opacity: 0; }
  100%  { opacity: 1; }
}
.pageThree .container {
  font-size: 1.25rem;
}
.pageThree .container .banner {
  width: 100%;
  background: #565f70;
  height: 11rem;
  position: absolute;
  z-index: 9;
}
.pageThree .container .backdrop {
  width: 14rem;
  height: 14rem;
  background: #565f70;
  margin-top: 4rem;
  border-radius: 7rem;
  z-index: 12;
  -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.75);
}
.pageThree .container img {
  width: 17rem;
  height: 17rem;
  margin-top: 2.5rem;
  border-radius: 7rem;
  z-index: 12;
  position: absolute;
}
.pageThree .container h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}



.collapsible {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #f1f1f1;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.content p, .content button {
  padding: 1rem;
  width: 100%;
  text-align: left;
}



/* PAGE USER STYLES */
.pageUser {
}
.pageUser .return {
  background: none;
}










@keyframes gassi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes guru {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.splashscreen {
  background-color: #ff4500;
  height: 100vh;
  position: relative;
}
.logo {
  font-size: 3rem;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo .gassi {
  animation-name: gassi;
  animation-duration: 1s;
}
.logo .guru {
  animation-name: guru;
  animation-duration: 1.5s;
}











.account-bar {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #898980;
}
.account-bar button {
  border: none;
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}









.payment-option {
  border: 3px solid #000000;
  height: 5rem;
  width: 7rem;
  border-radius: 1rem;
  padding: 0.5rem;
}