html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #a3b18a;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Inter;
}



.navigation {
  z-index: 100;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  align-items: center;
  text-align: center;
  background: #f27059;
  border-top: 0.25rem solid #f79d65;
}
.navigation a {
  color: #f25c54;
  text-decoration: none;
}
.navigation .button {
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 14%;
  padding-right: 14%;
  background: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.navigation .button:hover {
  background: #f25c54;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.feed {
  z-index: 99;
  animation: fadeIn 0.5s ease-in;
  opacity: 1;
  font-size: 1rem;
}
.feed .article {
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 2em;
  background: #ffffff;
  -webkit-box-shadow: 0em 0em 0.375em 0.15em rgba(52,78,65,0.57);
  -moz-box-shadow: 0em 0em 0.375em 0.15em rgba(52,78,65,0.57);
  box-shadow: 0em 0em 0.375em 0.15em rgba(52,78,65,0.57);
}
.feed .article h1 {
  color: #a3b18a;
  font-size: 1.6rem;
}
.feed .article p {
  color: #000000;
  font-size: 1.25rem;
}